<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6919788272158" version="0.0.11"> 
  <name>河南地税</name>  
  <description>河南地税</description>  
  <author email="developer@apicloud.com" href="http://www.apicloud.com">河南地税</author>  
  <content src="index.html"/>  
  <preference name="pageBounce" value="false"/>  
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>  
  <preference name="hScrollBarEnabled" value="true"/>  
  <preference name="vScrollBarEnabled" value="true"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="false"/>  
  <preference name="smartUpdate" value="true"/>  
  <preference name="debug" value="false"/>  
  <preference name="statusBarAppearance" value="true"/>  
  <preference name="softInputMode" value="resize"/>  
  <permission name="readPhoneState"/>  
  <permission name="camera"/>  
  <permission name="record"/>  
  <permission name="location"/>  
  <permission name="fileSystem"/>  
  <permission name="internet"/>  
  <permission name="bootCompleted"/>  
  <permission name="hardware"/>  
  <access origin="*"/>  
  <feature name="ajpush"> 
    <param name="app_key" value="6e4d9e72d916ae768c0490de"/>  
    <param name="channel" value="7b15b8ce457dee002f3dc705"/> 
  </feature> 
</widget>
